---
import Layout from '../layouts/Layout.astro';
import Carrusel from '../components/Carrusel.astro';

---

<Layout title="Como ayudar">
	<main>
		
		<h1>Como <span class="text-gradient">ayudar</span></h1>
		<Carrusel />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: #52B5FD;
		font-size: 20px;
		line-height: 1.6;
	}
</style>

