---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacto">
	<main>
		
		<h1><span class="text-gradient">Contacto</span></h1>
        
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: #52B5FD;
		font-size: 20px;
		line-height: 1.6;
	}
</style>