---
import LineaTiempo from '../components/LineaTiempo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Historia">
	<main>
		
		<h1>Nuestra <span class="text-gradient">Historia</span></h1>
		<LineaTiempo />
	</main>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: #52B5FD;
		font-size: 20px;
		line-height: 1.6;
	}
</style>