---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Card from '../components/Card.astro';
import TextoPrincesas from '../components/TextoPrincesas.astro';

---

<Layout title="Fundación Princesas Guerreras" description="Fundacion princesas guerreras - Cúcuta, Colombia">
	<Video />
	<main>
		<TextoPrincesas />
		<Card />
		
	</main>
	
</Layout>



