---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Card from '../components/Card.astro';
import TextoPrincesas from '../components/TextoPrincesas.astro';
import Container from "../components/Container.astro";

---

<Layout title="Fundación Princesas Guerreras" description="Fundacion princesas guerreras - Cúcuta, Colombia">
	<Video />
	<Container>
		<main>
			<TextoPrincesas />
			<Card />
		
		</main>
	</Container>
	
</Layout>



