

<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-96 overflow-hidden rounded-lg md:h-[720px] ">
         <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/409167265_677638904490955_2184751139111753176_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeHlIrpZSK31yiHf1eo6fnO4zBaHau0Rp4HMFodq7RGngeU7vq71pH3ZTcPH2Ra22ggiR2Qr4iObwtHNH8kqY5sW&_nc_ohc=sFzI2aXjX8IAX9GOlKu&_nc_ht=scontent-bog2-1.xx&oh=00_AfDWVxC5zZL_u-1Fy9FrQVvAoAji-j5Lqkhbd92pwBa-gg&oe=6594586C" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/410316776_677638881157624_4689046326680121438_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeFYdpudj2cuW61T8SYehNxVqX-RhHEuBX2pf5GEcS4FfWLXkFyL-M316XQ8_ZqAydS-abKmGOhljShk3KcxSdLs&_nc_ohc=aIOk6WNtxuUAX9-fP4n&_nc_ht=scontent-bog2-1.xx&oh=00_AfBCozjX1qM1CWT-b2bTf2IQH8IpP4S_oJ0bCORtUVxK_Q&oe=6594DA7F" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/409186477_677638887824290_8721302933456826332_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeFJUUgNTJ-y52r1gdaLC3THR5sg5TzOF4tHmyDlPM4Xi4cZpWmdba9GIxrYankuzVCO9vxzhbi3JIvq2qlKgwIg&_nc_ohc=9SMV7HE6yQwAX-g2J3g&_nc_ht=scontent-bog2-1.xx&oh=00_AfBUgMJBPfiQByk3hIfR4vmQV9Ra0vm2Zt4z4MRu9m3YGg&oe=65953326" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/409209713_677638901157622_3149685721892298233_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeEFNTvY5Jpd22zs2zgIyeT9eXr6WNzAQFt5evpY3MBAW-WJdLO3RSrR177WBpDedw4X8Pr4RGkm0p-iH90S7Gws&_nc_ohc=rYYwTOZ7uKYAX9jduo2&_nc_oc=AQn1UJJR69B-_KHD9SILoX1mZKULJia_MR_TEnxC5XoDK_atq-4RSqLMv2ySnXh-a2g&_nc_ht=scontent-bog2-1.xx&oh=00_AfBG6PLSUR7eSyAGaiy4k2rTre0J4R_AL9uDdd_1Y2aX1g&oe=65950167" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/409168323_677638894490956_3476571653060683502_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeEkawQnTVRDnmNsfdVNShlBoiDfNc8w6dmiIN81zzDp2QBSqhH2pMxy615T_g-0D7Ngayi4wjN2Z3DDxkITR3Wn&_nc_ohc=ogoCNJr_vkUAX9DU34Q&_nc_oc=AQmkjACrSzE6KY796jAjqNUOrjqHoxl73ZiPhI6DkT2X7Sn9FEyFuE0pZPdUx1gXmEs&_nc_ht=scontent-bog2-1.xx&oh=00_AfABme4b09OIYTqZcFUUqCA53q_cT_n0g3l-dGwXG0kmmA&oe=65944257" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 6 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/409207500_677638884490957_4101989955906133346_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeHv65e1WQL52nSQcaHB3wYn_Y9s7q4RKlL9j2zurhEqUqgXiD4qweLQPVilFM3t-OMvGWeyxTnh4T8NPxuS4FTB&_nc_ohc=WRupwR0qLtEAX-q_Vu3&_nc_ht=scontent-bog2-1.xx&oh=00_AfAs7oqIrcC5JngpGQabACxORN7iiK66ZOG_is1TMwQwWw&oe=6594D06D" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 7 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/410300010_677638897824289_7031413370239836269_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeFSckv4RGme0nHwhd8XWGjPRV6dIEHK5uJFXp0gQcrm4oav9F1TDg8_WQ75fDMW3hgnZBqTaAGi8AvjD5Lmy88F&_nc_ohc=o1hAtEiXdrQAX8zgnGi&_nc_oc=AQm9dhP00lINsxrz337Tidmt1CtVzI5w0kCFlxYaZXuUoCxktfm_3V02pLH7tmKHKLI&_nc_ht=scontent-bog2-1.xx&oh=00_AfAd18dgchG9RcJm6NtIWI7n_CbV6aCEokMG4-qnRhZ_yA&oe=6594AD3C" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 8 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://scontent-bog2-1.xx.fbcdn.net/v/t39.30808-6/409351659_677638891157623_1086698284426826935_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeHWGCTSS0rOUYHvPs61NVRuQA7F-i0eo55ADsX6LR6jnrphrzrbGvg35rCdk-TvfVALv2NnHf1ZEBNtFh2-NmUy&_nc_ohc=j7BX2YVkzsEAX-NT6bg&_nc_ht=scontent-bog2-1.xx&oh=00_AfAGRB9trN65qm0_Wj8c05RiQpKkc1bI_Ry1TybwG9bivw&oe=65938888" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>
