<div class="container mx-auto mt-9 mb-9">
    <div class="mt-5 mb-5">
      <div class="flex justify-center items-center">
        <img
          src="../../public/assets/img/logo.png"
          alt=""
          class="somos-princesas-logo mx-auto rounded-full shadow-md"
        />
      </div>
  
      <div class="text-center">
        <h1 class="text-4xl md:text-5xl lg:text-8xl">
          <span class="text0">Somos </span>
          <span class="text1">Fundación </span>
          <span class="text2">Princesas </span>
          <span class="text3">Guerreras</span>
        </h1>
      </div>
    </div>
  </div>

<style>
.somos-princesas-logo {
  width: 20%;
  height: auto;
}
.text0 {
  color: #212529;
}
.text1 {
  color: #55B5FF;
}
.text2 {
  color: #B41BFF;
}
.text3 {
  color: #ff4de9;
}
  </style>
  