<div class="w-full relative" >
  <div class="absolute top-10 z-10 w-auto left-0 right-0 ">
    <h1 class="">Fundación <span class="text-gradient">Princesas Guerreras</span></h1>
  </div>

  <div class="">
    <video class="w-full h-screen object-cover object-top"
    src="../../public/assets/video/fondo.mp4"
    autoplay
    muted
    loop
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
    ></video>
  </div>
  
</div>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
    color: white;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>